body{
    margin: 5mm;
    color: white;
    font-family: Arial, sans-serif;
    background-color: rgb(32, 32, 32);
}
block{
    white-space: pre-line;
    display: block;
    padding: 2mm;
    border-radius: 2mm;
    width:fit-content;
    min-width: 50%;

    border-style: solid;
    border-color: rgb(29, 29, 29);

    transition: border-color 100ms;

    background-color: rgb(63, 63, 63);
}
block:hover{
    border-color: rgb(74, 74, 74);
}
raw{
    display: inline-block;
    padding: 1mm;
    background-color: rgb(59, 59, 59);
    border-radius: 1mm;
}
cur{
    font-style: italic;
}
bold{
    font-weight: bold;
}
header{
    font-size: 300%;
    font-weight: bolder;
}
header#l1{
    font-size: 250%;
    font-weight: bolder;
}
header#l2{
    font-size: 200%;
    font-weight: bolder;
}
header#l3{
    font-size: 150%;
    font-weight: bolder;
}
header#h4{
    font-size: 100%;
    font-weight: bolder;
}